<h1> 添加职位 </h1>

<%= simple_form_for @job do |f| %>

<%= f.input :title, :label => "职位" %>
<%= f.input :company_name, :label => "公司"%>
<%= f.input :job_location, :label => "工作地点" %>
<%= f.input :wage_upper_bound, :label => "薪资待遇" %>
<%= f.input :description, :label => "职位介绍" %>

<%= f.input :contact_email, :label => "企业邮箱"%>
<%= f.input :is_hidden, :label => "隐藏职位"%>

  <%= f.submit "提交", class:"btn btn-danger"%>
<% end %>
