
<div class="col-md-12 show">
  <div class="row">
  <br>

    <div class="col-md-3 pull-right">

    <%= link_to("立即申请", new_job_resume_path(@job), class: "btn btn-info btn-md") %>
  </div>
  </div>
  <div class="row">
    <div class="col-md-7 show-page">
  <p class="company_name"><%= link_to(@job.company_name, '/jobs/search?utf8=✓&q=' + @job.company_name) %></p>
  <h2 class="job_title"><%= @job.title %></h2>

  <p class="info">
    <span class="salary"> <span class="label label-success"><%= @job.wage_lower_bound %>元</span> - <span class="label label-success"><%= @job.wage_upper_bound %>元</span> </span>
    <span>|</span>
    <span><span class="fa fa-map-marker"></span><%= @job.job_location%></span>
    <span>|</span>
    <span><span class="fa fa-calendar"></span><%= @job.created_at.to_date %> 发布</span>
    <span class="label label-info"><%= @job.category.name %></sapn>
  </p>



  <hr />

  <p class="description-title"><strong>职位详情：</strong></p>
  <p class="description">
    <%= simple_format(@job.description) %>
  </p>
</div>
</div>
</div>
